{% extends "::base.html.twig" %}

{% block title %}{{parent()}}Mon compte{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('env/css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('env/css/styleUser.css') }}" />
{% endblock %}

{% block header %}

    {{include('AfpaPokerGameBundle:User:menuTemplate.html.twig')}}
{% endblock %}
{% block body %}
    <section>
        {% set flash_message_notice = app.session.flashBag.get('notice')|last %}
        <p class="notice">{{ flash_message_notice }}</p>
        {% set flash_message_warning = app.session.flashBag.get('warning')|last %}
        <p class="warning">{{ flash_message_warning }}</p>
    </section>

    <h1>Welcome to the User:account page</h1>
{% endblock %}
