<form action="{{ path('_login') }}" method="POST">
    <ul id="connection">
        <li>{{form_widget(form.mail)}}</li>
        <li>{{form_widget(form.password)}}</li>
        <li>{{form_widget(form.save)}}</li>
            {{form_rest(form)}}
    </ul>
</form>