
<ul id="lien" class="menu">
    <li><a href="{{ path('_home') }}">Accueil</a></li>
<<<<<<< HEAD
    <li><a href="{{ path('list_table') }}">Rejoindre une table</a></li>
    <li><a href="{{ path('account') }}">Mon compte</a></li>
    <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
=======
    <li><a href="{{ path('_account') }}">Rejoindre une table</a></li>
    <li><a href="{{ path('_account') }}">Mon compte</a></li>
    <li><a href="{{ path('_logout') }}">Se déconnecter</a></li>
>>>>>>> 3ad4e777711f304989ba9cce6ca43ae038a429a0
</ul>
