<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Poker Game | {% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body class="{{app.request.attributes.get('_route')}}">

    <header>
        <nav>
            <img id="logo" src="{{ asset('env/images/logo.png') }}" alt="logo">
            {% block header %}
            {% endblock %}
        </nav>
    </header>


{% block body %}{% endblock %}


<footer>
    <div id="credits" class="invisible">
        Un grand Merci à :
        <ul>
            <li>à Fabien qui fut un chef d'ochestre Symfony efficace.</br>
                Il a su diriger Fred(solos et tous types d'instruments) et Michel (triangle et symbales).</li>
            <li>à Martine pour son délicieux petit déjeuner d'anniversaire
            <li>à Jennifer pour avoir ramener la moyenne d'age du groupe à un niveau acceptable.</li>
            <li>à Hélana pour su rester vigilante sur les débordement d'horaires ...Hé!</li>
            <li>à Laurent, fournisseur officiel de lunettes de rechange.</li>
            <li>à Eric pour pour ses conseils avisés sur la future évolution de notre projet en ms-dos/d-Base.</li>
            <li>à Yann, pour avoir tenter de nous monter la <strong>Voie</strong>.</li>
            <li>à Omar pour la diffusion de ses techniques de copier/coller.</li>
            <li>à Christian, pour sa vision novatrice et séduisante du jeu d'échec.</li>
        </ul>
    </div>
    {% block footer %}

    {% endblock %}
    <span id="openRefresh">
        {{ render(controller('AfpaPokerGameBundle:TablePoker:openTableRefresh')) }}
    </span>
</footer>

{% block javascripts %}
    <script src="{{ asset('env/js/jquery/jquery-2.1.1.js') }}" type="text/javascript"></script>
    <script src="{{ asset('env/js/ajax.js') }}" type="text/javascript"></script>
{% endblock %}
</body>
</html>
