<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Poker Game | {% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body class="{{app.request.attributes.get('_route')}}">

    <header>
        <nav>
            <img id="logo" src="{{ asset('env/images/logo.png') }}" alt="logo">
            {% block header %}
            {% endblock %}
        </nav>
    </header>


{% block body %}{% endblock %}


<footer>
{% block footer %}{% endblock %}
<span id="openRefresh">
    {{ render(controller('AfpaPokerGameBundle:TablePoker:openTableRefresh')) }}
</span>
</footer>

{% block javascripts %}
    <script src="{{ asset('env/js/jquery/jquery-2.1.1.js') }}" type="text/javascript"></script>
    <script src="{{ asset('env/js/ajax.js') }}" type="text/javascript"></script>
{% endblock %}
</body>
</html>
