
{% for player in listPlayer %}
    <div class="player" id="player{{player.position}}">
        {% if player.user.id==user%}
            <img class="card" src="{{asset('env/images/' ~ player.cardOne ~ '.png')}}" >
            <img class="card" src="{{asset('env/images/' ~ player.cardTwo ~ '.png')}}" >
        {% else %}

            <img class="card" src="{{asset('env/images/VERSO.png')}}" >
            <img class="card" src="{{asset('env/images/VERSO.png')}}" >

        {% endif %}
        <div id="enCours{{player.position}}">

            jetons {{player.encoursJetons}}
        </div>
    </div>

{% endfor %}


<div id="pot">
    pot {{tablePoker.pot}}
</div>

<div id="#oc" class="oc" >
    <img class="card" src="{{asset('env/images/4D.png')}}">
    <img class="card" src="{{asset('env/images/5D.png')}}">
    <img class="card" src="{{asset('env/images/6D.png')}}">
    <img class="card" src="{{asset('env/images/JC.png')}}">
    <img class="card" src="{{asset('env/images/AH.png')}}">
</div>


<div id='betting'>
    {{ form_start(formBet) }}
    <span>{{form_widget(formBet.fold)}}</span>
    <span>{{form_widget(formBet.bet)}}</span>
    <span>{{form_widget(formBet.bet2)}}</span>
    <span>{{form_widget(formBet.check)}}</span>
    <span>{{form_widget(formBet.raise)}}</span>

    {{ form_end(formBet) }}
</div>