{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('env/css/table.css') }}" />
{% endblock %}

{% block title %}AfpaPokerGameBundle:TablePokerController:play{% endblock %}

{% block body %}


    <section id="tablePlay">
        <img class="table" src="{{ asset('env/images/table.png') }}" alt="photo de table">
        <span class="tableNumber invisible" >{{idTable}}</span>

        {% for a in avatar %}
            {%set av = avatar[loop.index0]%}
            <div id="a{{loop.index}}">
                <img class="avatar" src="{{asset('env/images/profil/'~avatar[loop.index0])}}" >
                <span class="pseudo">{{pseudo[loop.index0]}}</span>
            </div>
        {% endfor %}


        <div id="game">
            {{ render(controller('AfpaPokerGameBundle:TablePoker:gameView', {'idTable': idTable})) }}
        </div>
    </section>
    

{% endblock %}
{% block javascripts %}
    {{parent()}}

{% endblock %}
