{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('env/css/table.css') }}" />
{% endblock %}

{% block title %}AfpaPokerGameBundle:TablePokerController:play{% endblock %}

{% block body %}



    <span class="tableNumber invisible">Table {{idTable}}</span>

    {% for a in avatar %}
        {%set av=avatar[loop.index0]%}
        <div id="a{{loop.index}}">
            <img class="avatar" src="{{asset('env/images/profil/'~avatar[loop.index0])}}" >
        </div>
    {% endfor %}


    <div id="game">
        {{ render(controller('AfpaPokerGameBundle:TablePoker:gameView', {'idTable': idTable})) }}
    </div>

{% endblock %}
{% block javascripts %}
    {{parent()}}

{% endblock %}
